.container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bgSoft);
    padding: 8px;
    border-radius: 10px;
    width: max-content;
}

.input{
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: var(--text);
    outline: none;
}